<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gurudata"
        tools:targetApi="31">
        <activity
            android:name=".ChickenShops"
            android:exported="false" />
        <activity
            android:name=".ui.MainScreenActivity"
            android:exported="false" />
        <activity
            android:name=".LauncherAcitivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddDriver"
            android:exported="false" />
        <!--
<activity
            android:name=".DriverManagement"
            android:exported="false"
            android:label="@string/title_activity_driver_management"
            android:theme="@style/Theme.Gurudata.NoActionBar" />
        -->
        <activity
            android:name=".DriverManagement"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Gurudata.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>